*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Rubik;
}
nav{
    margin-top: 20px;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-left: 50px;
}

.nav_links{
    margin-left: 50px;
    display: flex;
    width: 60%;
    list-style-type: none;
    justify-content: space-between;
}

.nav_links li{
    font-size: 18px;
}

.nav_container a{
    text-decoration: none;
    color: #4F5665;
}

.nav_buttons{
    width: 20%;
}

.nav_buttons a{
    color: #0B132A;
    font-size: 20px;
    line-height: 18.96px;
    margin-left: -30px;
    margin-right: 20px;
}

.nav_buttons button{
    width: 150px;
    height: 45px;
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 50px;
    background-color: transparent;
}


/* Section First_Section */

section.first_section{
    display: flex;
    margin-top: 30px;
    height: 500px;
    margin-left: 30px;
}

.first_section_text{
    width: 50%;
    text-align: left;
    padding-left: 20px;
    padding-top: 70px;
}

.first_section_text h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 20px;
}

.first_section_text h1 span{
    font-weight: 700;
}

.first_section_text p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.first_section_text p span{
    font-weight: 500;
}

.first_section_text button{
    margin-top: 60px;
    background-color:#F53855;
    color: #fff;
    width: 250px;
    font-size: 18px;
    height: 58px;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0px 5px 5px #F53855; */
}

.first_section_img{
    width: 50%;
    margin-bottom: 20px;
}

.first_section_img img{
    width: 100%;
    height: 100%;
}

/* Section Second_section */

section.second_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-top: 120px;
}

.second_section_divs{
    width: 30%;
    height: 200px;
    gap: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px solid rgba(0, 0, 0, 0.05);
    
}

.second_section_divs div p:first-child{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    
}
.second_section_divs div p:last-child{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    
}

/* Section Third_section */
section.third_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 100px;
    /* background-color: rgb(226, 226, 226);
    background: linear-gradient(to bottom) rgb(226, 226, 226) 50% #fff 100%;*/
    background: linear-gradient(0deg, #fff,  rgb(236, 233, 233))

}

.third_section_img{
    width: 55%;
}

.third_section_img img{
    width: 75%;
    margin-left: 80px;
}


.third_section_text{
    width:45%;
    margin-left: 80px;
    margin-top: 80px;
}
.third_section_text h1{
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    width: 60%;
}

.third_section_text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 75%;
    margin-top: 18px;
}

.third_section_text div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
   
}


/* Section Fourth_Section */

.fourth_section{
    padding-top: 90px;
}

.all_fourth_section_divs{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.fourth_section h1{
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
}

.fourth_section p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.fourth_section_divs{
    width: 330px;
    margin-left: 30px;
    margin-top: 30px;
   padding: 100px 50px 40px 50px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.fourth_section_divs .plan_img_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.fourth_section_divs .plan_img_text p{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 30px;
    margin-left: -15px;
}

.plan_features div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.fourth_section_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 150px;
}


.fourth_section_bottom p{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}

.fourth_section_bottom p span{
    font-weight: 400;
}


.fourth_section_bottom button{
    width: 180px;
    height: 45px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #F53855;
    border: 2px solid #F53855;
    border-radius: 50px;
    background-color: transparent;
}

.fourth_section_divs:hover{
    border-color: #F53855;
}

.fourth_section_divs:hover .fourth_section_bottom button{
    background-color: #F53855;
    color: #fff;
}

/* Section Fifth_Section */

section.fifth_section{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fifth_section h1{
    font-size: 35px;
    font-weight: 500;
    color: #0B132A;
    margin-bottom: 30px;
}
.fifth_section p{
    font-size: 20px;
    text-align-last: center;
}

.fifth_section p span{
    font-weight: 500;
}

.fifth_section img{
    margin-top: 150px;
    margin-left: 30px;
}


/* Section Sixth_Section */

.sixth_section{
    margin-top: 80px;
}

.sixth_section h1{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.sixth_section p{
    font-size: 20px;
    text-align: center;
}

.three_sixth_section_divs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 35px;
}

.sixth_section_div{
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    width: 370px;
    height: 230px;
}

.sixth_section_div:hover{
    border-color: #F53855;
}

.profile{
    margin: 20px 20px 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.profile div p:first-child{
    font-size: 18px;
    font-weight: 500;
    width: 120px;
    text-align: left;
}

.profile div p:last-child{
    width: 120px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.navigation{
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.left{
    display: flex;
    gap: 10px;
    margin-left: 50px;
}

.circle{
    width: 50px;
    height: 18px;
    border-radius: 50px;
    background-color: #F53855;
    border: 2px solid red;
}

.circle_1{
    width: 18px;
    height: 15x;
    border-radius: 50%;
    background-color: #DDE0E4;
}


.right{
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.arrows{
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50px;
}

.arrows:hover{
    background-color: #F53855;
}

.arrows:hover i{
    color: #fff;
}


.arrows i{
    border-radius: 50px;
    color: #F53855;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 20px;
    left: 16px;
}

.arrows div{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    border-radius: 50px;
}


/* Section Seventh_section */
section.seventh_section{
    width: 90%;
    height: 240px;
    margin: 70px 30px 50px 60px;
    padding-top: 60px;
    display: flex;
    gap: 400px;
    box-shadow: 0px 0px 5px grey;
}

.seventh_section_text{
    margin-left: 70px;
}

.seventh_section_text h1{
    font-size: 35px;
    margin-bottom: 15px;
}
.seventh_section button{
    margin-top: 40px;
    background-color:#F53855;
    color: #fff;
    width: 250px;
    height: 58px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}

/* Section Last_Section */

section.last_section{
    margin-top: 60px;
    display: flex;
}

.first_last_section{
    width: 25%;
    margin-left: 40px;
    padding-left: 20px;
    margin-right: 250px;
}

.first_last_section p{
    font-size: 17px;
    margin-top: 10px;
}

.logos{
    margin-top: 20px;
    margin-left: -20px;
}
.logos img:not(:first-child){
    gap: 0px;
    margin-left: -20px;
}

.product ul li{
list-style-type: none;
font-size: 18px;
margin-bottom: 20px;
margin-right: 130px;
}
